body {
    font-family: 'PT Sans', sans-serif;
}

input {
  width: 7%;
  padding: 20px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button {
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  
  button:active {
    transform: translateY(4px);
  }






